.job-posts-title {
    text-align: center;
    margin-bottom: 60px;
}

.job-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 10px;
    min-height: 300px;
    max-height: 350px;
}

.job-posts-container {
    max-width: 100vw;
    min-height: 100vh;
    padding: 100px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .job-card {
        margin-bottom: 20px;
        width: 100%;
    }

    .job-posts-container {
        padding: 16px;
    }
}